<div  class="addForm">
  {{input type="text" class="form-control admin-control" placeholder="Name" value=name }}
  {{input type="text" class="form-control admin-control" placeholder="Street" value=street}}
  {{input type="text" class="form-control admin-control" placeholder="City"  valiue=city }}
  {{input type="text" class="form-control admin-control" placeholder="Country" value=country }}
  {{input type="text" class="form-control admin-control" placeholder="Latitude" value=latitude}}
  {{input type="text" class="form-control admin-control" placeholder="Longitude" value=longitude}}
  {{input type="text" class="form-control admin-control" placeholder="Phone" value=phone}}
  {{input type="text" class="form-control admin-control" placeholder="Hours" value=hours}}
  {{input type="text" class="form-control admin-control" placeholder="Rating" value=rating}}
  {{input type="text" class="form-control admin-control" placeholder="Price" value=price}}
  {{input type="text" class="form-control admin-control" placeholder="Deals" value=deals}}
  {{input type="file" class="form-control" name="img"}}
  <button class="btn btn-success" {{action 'addRestaurant'}}>Add Restaurant</button> 
</div>