 <!--Tijelo -->
    {{#validatable-form action="onRegister"}}
    <div class="row">
    <!--forma-->
      
        <!--first name-->      
      <div class="form-group" class="col-md-6">
       <label >First name</label>
       {{input type="text" class="form-control" value=firstName placeholder="First name" required=true maxlength=20}} 
      </div>
 
        <!--last name--> 
      <div class="form-group" class="col-md-6"> 
       <label >Last name</label> 
        {{input type="text" class="form-control" value=lastName placeholder="Last name" required=true maxlength=20}}
      </div><br>

        <!--email-->
      <div class="form-group" class="col-md-12">
       <label >Email</label>
        {{input type="email" class="form-control" value=emailReg placeholder="Email" required=true}}
      </div>
      
      
      <div class="form-group" class="col-md-8">
       <label >Phone</label>
        {{input type="tel" class="form-control" value=tel placeholder="Phone" required=true pattern=".{6,}"}}
      </div>

        <!--pass-->
      <div class="form-group" class="col-md-12">
       <label >Password</label>
       {{input type="password" class="form-control" value=pwdReg placeholder="Password" required=true pattern=".{6,}"}}
      </div>

        <!--passConfirmation-->  
      <div class="form-group" class="col-md-12">
       <label >Password confirmation</label>
        {{input type="password" class="form-control" value=pwdConfirmation placeholder="Password confirmation" required=true pattern=".{6,}"}}  
      </div>
        
        <!--city-->        
      <div class="form-group" class="col-md-6">
       <label >City</label>
       {{input type="text" class="form-control" value=city placeholder="City" required=true}}
      </div>

        <!--country-->
      <div class="form-group" class="col-md-6">
       <label >Country</label>
        {{input  type="text" class="form-control" value=country placeholder="Country" required=true}}
      </div>
      
      
      <div class="form-group" class="col-md-8">
       <label >Street name</label>
       {{input  type="text" class="form-control" value=streetName placeholder="Street name" required=true}}
      </div>

      <div class="form-group" class="col-md-8">
       <label>Gender</label>
        <input type="radio" name="gender" value="Male" checked> Male
         <input type="radio" name="gender" value="Female"> Female 
      </div>
 
    
    {{birthday-component title="Birthday:" day=(mut day) month=(mut month) year=(mut year) }}

  </div>
     
<div class="modal-footer" >
        <!--white space-->         
   <div class="col-md-12">           
    <button type="submit" class="btn btn-success btn-block" id="createButton">Create account</button>
   </div>

  </div>
{{/validatable-form}}
 

{{yield}}