 <div class="row" class="container">

   <form role="form" class="dnoJumbotrona">

    <div class="col-md-2">
     <div class="form-group">
      <div class="row">
       <div class="col-md-1">
        <span class="glyphiconStyle glyphicon glyphicon-user "></span>
       </div>
       <div class="col-md-7">
        {{input type="number" class="form-control" id="brojLjudi" min="1" max="10"}}
       </div>
      </div>
     </div>
    </div>

    <div class="col-md-3">
     <div class="form-group">
      <div class="row">
       <div class="col-md-1">
        <span class="glyphiconStyle glyphicon glyphicon-calendar"></span>
       </div>
       <div class="col-md-9">
        {{input type="date" class="form-control" id="datum" min="2016-01-01"}}
       </div>
      </div>
     </div>
    </div>
      
  <div class="col-md-2">
     <div class="form-group">
      <div class="row">
       <div class="col-md-2">
        <span class="glyphiconStyle glyphicon glyphicon-time"></span>
       </div>
       <div class="col-md-10">
        {{input type="time" class="form-control" id="vrijeme" }}
       </div>
      </div>
     </div>
    </div>
          
    <div class="col-md-3">
     <div class="form-group">
      <div class="row">
       <div class="col-md-1">
        <span class="glyphiconStyle glyphicon glyphicon-cutlery"></span>
       </div>
       <div class="col-md-9">
       {{log restaurants}}
        {{ember-selectize content=restaurants placeholder="Select restaurant" optionValuePath="content.restaurantId"
        optionLabelPath="content.name"}}
        </div>
      </div>
     </div>
    </div>


    <div class="col-md-2">  
     {{#link-to "reservation"}}
     <a href="#" class="btn btn-primary">Make Reservation</a>
     {{/link-to}}
    </div>
   </form>
</div>
{{yield}}