    <!--Header -->
<header class="header">
 <div class="container">
	<!--naslov -->
  <div class="navbar-brand">Table4You</div>  
   <div align="right" class="navbar-btn">
  
    {{#unless userService.currentUser}}
     <a href="#" id="signUp" data-toggle="modal" class="btn btn-success" data-target="#signUpModal">SignUp</a>
      <a href="#" id="login" data-toggle="modal" data-target="#loginModal" >Login</a>
    {{else}}
     {{userService.currentUser.firstName}}  <a href="" {{action 'logout'}}>Logout</a>
    {{/unless}}

  </div> 
 </div>
</header>


<!--footer  -->
<footer class="footer">

  <p class="fooPar">Copyright info <a href="#" class="fooPar">Link negdje</a> </p> 

</footer> 

{{login-component}}
{{registration-component}}

{{outlet}}
