

{{yield}}
<button {{action 'test'}}>Test</button>

<div class="reservation-center">
    
     <div class="form-group">
       <div class="col-md-4 hidden-sm hidden-xs ">
       <label>Number of people:</label> 
        {{input type="number" class="form-control" id="brojLjudi" min="1" max="10" value=noPeople }}
       </div>
      </div>  

     <div class="form-group">
       <div class="col-md-4 hidden-sm hidden-xs">
       <label>Time of reservation:</label>
        {{input type="time" class="form-control" id="vrijeme"  value=timeReservation}}
       </div>
      </div>
      

     <div class="form-group">
       <div class="col-md-8 hidden-sm hidden-xs">
       <label>Date of reservation:</label>
        {{input type="date" class="form-control" id="datum" min="2016-01-01" value=dateReservation}}
       </div>
      </div>
                
     <div class="form-group">
       <div class="col-md-8 hidden-sm hidden-xs">
       <label>Restaurant:</label>
       {{log restaurants}}
        {{ember-selectize content=restaurants placeholder="Select restaurant" optionValuePath="content.restaurantId"
        optionLabelPath="content.name" value=restaurantReservation}}
        </div>
      </div>

<div class="col-md-8">
 <label>Note:</label>
 <textarea class="form-control" rows="5" id="note"></textarea>
</div>

<div class="col-md-6 col-sm-12 col-xs-12"><br>  
 {{#link-to "reservation"}}
   <a href="#" class="btn btn-primary">Make Reservation</a>
  {{/link-to}}
</div>
 
</div>


