<div class="container-fluid" id="header">
 <div>
  <img src={{model.image}} alt="restoran" class="restaurant-pic"  >
   <h2 id="restaurantTitle"><span>{{model.name}}</span></h2>
   <div id="ratingPic">
    {{star-component rating=model.rating }}
   </div>
 </div>
</div>
<br>

<div class="container" id="all">
  <div class="row">
    {{sidebar-component}}
    
    <div class="col-md-10 col-sm-9 col-xs-9">   
      <div class="scrollSection" id="section1">
     {{google-map  zoom=15 type='map'  markers=coordinate  }}
     </div>
     
     <div class="scrollSection" id="section2">    
      <h1>About</h1>
      Četrdeset mi je godina ružno doba: čovjek je još mlad kako bi imao želja, a već star da ih ostvaruje. Šteta što nemam deset godina više pa bi me starost čuvala od pobuna ili deset godina manje pa bi mi bilo svejedno. Jer trideset godina je mladost, to sad mislim, kad sam se nepovratno udaljio od nje, mladost koja se ničega ne boji, pa ni sebe.
     </div>
      
     <div class="scrollSection" id="section3">   
      
      <h1>Reservation</h1>
      
      <div class="col-md-7 hidden-sm hidden-xs">
      
      <label class="postionLabel1">People:</label> <label class="postionLabel2">Time of reservation:</label><label class="postionLabel3">Date of reservation:</label><br>
      
      {{input type="number" class="form-control" id="peopleIndex1" min="1" max="10" value=noPeople}}
       
      
      {{input type="time" class="form-control" id="timeIndex1"  value=timeReservation}}
      

      {{input type="date" class="form-control" id="dateIndex1" min="2016-01-01" value=dateReservation}}
      </div>

       <div class="col-md-2 hidden-sm hidden-xs">
       <label>Restaurant:</label><br>
       <p id="resName">{{model.name}}</p>
       </div>
       
         <div class="col-md-2  col-sm-3 col-xs-3">
         {{#link-to 'reservation' model.restaurantId}}
          <button type="submit" class="btn btn-primary" {{action 'myValueDidChange'}} id="resMake">Make Reservation</button>
         {{/link-to}}
         </div>

     </div>  
    </div>
  </div>
</div>


                                
