<div class="container-fluid" id="header">
 <div>
  <img src={{model.image}} alt="restoran" class="restaurant-pic"  >
   <h2 id="restaurantTitle"><span>{{model.name}}</span></h2>
   <div id="ratingPic">
    {{star-component rating=model.rating }}
   </div>
 </div>
</div>
<br>

<div class="container" id="all">
  <div class="row">
    {{sidebar-component}}
    
    <div class="col-md-10 col-sm-9 col-xs-9">   
      <div class="scrollSection" id="section1">
     {{google-map  zoom=15 type='map'  markers=coordinate  }}
     </div>
     
     <div class="scrollSection" id="section2">    
      <h1>About</h1>
      {{model.deals}}
     </div>
      
     <div class="scrollSection" id="section3">   
      
      <h1>Reservation</h1>
      
      <div class="col-md-7 hidden-sm hidden-xs">
      
      <div class="col-md-3">
       <label class="people">People:</label> 
        {{input type="number" class="form-control" min="1" max="10" value=noPeople}}
       </div>

       <div class="col-md-4">
       <label class="people">Time of reservation:</label> 
        {{input type="time" class="form-control"  value=timeReservation}}
       </div>

       <div class="col-md-5">
       <label class="people">Date of reservation:</label> 
        {{input type="date" class="form-control" min="2016-01-01" value=dateReservation}}
       </div>

       </div>

       <div class="col-md-2 hidden-sm hidden-xs">
       <label>Restaurant:</label><br>
       <p id="resName">{{model.name}}</p>
       </div>
       
         <div class="col-md-2  col-sm-3 col-xs-3">
         {{#link-to 'reservation' model.restaurantId}}
          <button type="submit" class="btn btn-primary" {{action 'myValueDidChange'}} id="resMake">Make Reservation</button>
         {{/link-to}}
         </div>

     </div> 

    <div class="scrollSection" id="section4">    
      <h1>Rate us</h1>
      <div class="rate">
  
        <span id="span5" {{action 'rate1'}}>☆</span>
        <span id="span4" {{action 'rate2'}}>☆</span>
        <span id="span3" {{action 'rate3'}}>☆</span>
        <span id="span2" {{action 'rate4'}}>☆</span>
        <span id="span1" {{action 'rate5'}}>☆</span>
 
      </div>
       <label class="rate-label" ></label>
     </div>

    </div>
  </div>
</div>


                                
